@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

    /*----------ROOT VARIABLES----------*/
:root{
	--font-family: "inter", "serif";
	--font-size: 1.25em;

	--font-heading: "kavoon";
	--h1:3em;
	--NAV: h2:1.5em;
    --h2:2em;
	--h3: 1.5em;
	--h4:1.15em;

	--Teal: #4CA7C0;
	--Purple: #484FB7;
	--Lavender: #6B8FE7;
	--Yellow: #E9BB57;
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E;
    --White:#ffffff;
}


/*----------GLOBAL STYLES (mobile first/small)----------*/

body{
    min-width:450px;
    background-color: var(--Purple);
}

main {
    justify-content: auto;
  
  
}

header{
    display:block;
    justify-content: center;
    position:sticky;
    top:0;
    z-index: 0;
    background-color:var(--Lavender);
    border-radius:0 0 20px 20px;
    padding:10px;
    }

header h1 + p{
    display:block;
    position:absolute;
    width:85%;
    top:100%;
    left: 5%;
    z-index: -1;
    text-align:center;
  
    padding:1em;
    background-color: var(--Pink);
    border-radius: 0 0 20px 20px;
    margin-bottom: 1em;
}

nav{
    display:flex;
    flex-direction: column;
    margin:4px;
    padding:3px;
    background-color: var(--Yellow);
    border-radius:0 0 8px 8px;
    position: fixed;
    top:0px;
    right:0px; 
}

nav a visited{
    color:var(--Lavender);
 }
   
nav a hover{
    color:var(--White);
 }



nav>ul{
    display:none;
   
}

h1{
    font-family:var(--font-heading);
    text-align: center;
    font-size: var(--h1);
    color:var(--White)
}

h2{
    font-size: 2em;
    color:var(--White);
}
  
h3{
    font-size: 1.5em;
    color:var(--Yellow);
}

h4{
    font-size: 1.15em;
    color:var(--Purple);
    font-family: var(--font-family);
    font-weight: bold;

}


p{
    font-family: var(--font-family);
}

.ourServices{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin:2em;
    margin-top:3em;
    }

.oneOnone{
    background-color: var(--White);
    padding-top:10px;
    padding:10px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
 }

 .oneOnone h3{
    padding-bottom: 1em;
    align-self: auto;
 }



.careerCoaching{
    background-color: var(--White);
    padding:1em;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.relationshipCoaching{
    background-color: var(--White);
    padding:1em;
    border-radius:20px 20px 20px 20px;
    margin-bottom: 20px;
}

.groupCoaching{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    margin:2em;
}

.groupCoaching h3{
    padding-bottom: 1em;
    align-self: auto;
}

.supportCommunity{
    background-color: var(--White);
    padding:1em;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.focusSessions{
    background-color: var(--White);
    padding:1em;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.workShops{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    margin:2em;
}

.workShops h3{
    padding-bottom: 1em;
    align-self: auto;
}

.interactive{
    background-color: var(--White);
    padding:1em;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.onlineCourses{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    margin:2em;
}

.onlineCourses h3{
    padding-bottom: 1em;
    align-self: auto;
}

.flexLearning{
    background-color: var(--White);
    padding:1em;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
}


.whyChoose{
    display:table-row;
    background-color:var(--Pink);
    padding:2em;
    
} 

.whyChoose h2{
    padding:1em;
    margin-bottom:10px;
    font-family: var(--font-heading);
}

.whyChoose ul{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    background-color:var(--Pink);
    padding:10;
    font-family: var(--font-family);
    font-weight: bold;
}


#pa{
    float:left;
    box-sizing:border-box;
    width:200px;
    height:100px;
    background-color:var(--Teal);
    padding:20px;
    margin-left:1em;
    margin-bottom: 1em;
    border-radius: 20px;
    gap:5px;
        
}

#pr{
    float:right;
    box-sizing:border-box;
    width:200px;
    height:100px;
    margin-right:1em;
    margin-bottom: 1em;
    background-color: var(--Lavender);
    padding:20px;
    border-radius: 20px;
}

#su{
    float:left;
    box-sizing:border-box;
    width:200px;
    height:100px;
    margin-left:1em;
    margin-bottom: 1em;
    background-color: var(--Yellow);
    padding:20px;
    border-radius: 20px;
}

#fl{
    float:right;
    box-sizing:border-box;
    width:200px;
    height:100px;
    margin-right:1em;
    margin-bottom: 1em;
    background-color: var(--White);
    padding:20px;
    border-radius: 20px;
}

.priCes{
    
    padding:5px;
    padding-left:1em;
 
}

.priCes h2{
    grid-column-start:1;
    grid-column-end:2;
    font-family: var(--font-heading);
    padding:.5em;
}

.priCes h3{
    padding: 1rem;
    font-family: var(--font-family);
    font-weight: bold;
}

table{
    margin-left:6rem;
    border:2px solid var(--Yellow);
    width:50%;
    background-color: var(--White);
    padding:1rem;
}

tbody,thead{
   margin:auto;
   font-family: var(--font-family);

}

th{
    font-weight: bold;
    grid-column-start:1;
    grid-column-end:2;
    background-color: var(--Yellow);
    padding:1em;
    width:50%;
    text-align: center;
}

td{
    grid-column-start:2;
    grid-column-end:3;
    border:2px solid var(--Yellow);
    text-align: center;
}

.firstStep{
    background-color: var(--Pink);
    text-align: center;
    justify-content: center;
}

.firstStep h2{
    padding-top: .5em;
    font-family: var(--font-heading);
}

.firstStep p{
    color:var(--White);
    padding:1em;
    font-family: var(--font-family);
}
.firstStep a{
    display: block;
    position:relative;
    left: 6em;   
    background-color: var(--White);
    font-family: var(--font-family);
    padding:.25em;
    margin:.25em;
    border-radius: 10px;
    text-decoration: none;
    width:50%;
    }

    footer{
        background-color:var(--Lavender);
        padding: 15px ;
        display:flex;
        
        justify-content:space-evenly;
        border-radius: 0 0 20px 20px;
        width:100%;
      
    }

    small{
        color:var(--White);
    }

    small a{
        color:var(--White);
        text-decoration:none;
    }

