@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

    /*----------ROOT VARIABLES----------*/
:root{
	--font-family: "inter", "serif";
	--font-size: 1.25em;

	--font-heading: "kavoon";
	--h1:3em;
	--NAV: h2:1.5em;
    --h2:2em;
	--h3: 1.5em;
	--h4:1.15em;

	--Teal: #4CA7C0;
	--Purple: #484FB7;
	--Lavender: #6B8FE7;
	--Yellow: #E9BB57;
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E;
    --White:#ffffff;
}


/*----------GLOBAL STYLES (mobile first/small)----------*/
body{
    min-width:450px;
    background-color: var(--Purple);
}

header{
    position:relative;
    z-index:0;
    background-color:var(--Lavender);
    border-radius:0 0 20px 20px;
    padding:10px;
    
}

h1{
    font-family:var(--font-heading);
    text-align: center;
    font-size: var(--h1);
    color:var(--White)
}

p{
    font-family: var(--font-family);
}

header p{
    position:relative;
    background-color:var(--Pink);
    border-radius:0 0 30 30;
    padding:10px;
    text-align: center;
    z-index:1;
    font-variant: italic;
}

nav ul{
    display:flex;
    justify-content: space-evenly;
    background-color: var(--Yellow);
    border-radius:0 0 20 20;
    padding:1em;
}

nav li{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav h2{
    font-family: var(--h2);
    font-size: 1.5em;
}

.ourServices+h2{
    font-size: 2em;
}

