@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

    /*----------ROOT VARIABLES----------*/
:root{
	--font-family: "inter", "serif";
	--font-size: 1.25em;

	--font-heading: "kavoon";
	--h1:3em;
	--NAV: h2:1.5em;
    --h2:2em;
	--h3: 1.5em;
	--h4:1.15em;

	--Teal: #4CA7C0;
	--Purple: #484FB7;
	--Lavender: #6B8FE7;
	--Yellow: #E9BB57;
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E;
    --White:#ffffff;
}


/*----------GLOBAL STYLES (mobile first/small)----------*/

body{
    min-width:450px;
    background-color: var(--Purple);
}

main {
    justify-content: center;
    box-sizing: border-box;
    
    padding: 2px;
    border-radius: 10 10 10 10;
}

header{
    display:block;
    gap:1rem;
    justify-content: center;
    align-items: center;
    position:relative;
    top:0;
    background-color:var(--Lavender);
    border-radius:0 0 20px 20px;
    padding:10px;
    }

header p{
    display:block;
    position: relative;
    top:-20;
    justify-content: center;
    
    background-color: var(--Pink);
    border:0 0 75 0;
    border-radius: 0.0.20 20;
}

nav{
    display:flex;
    flex-direction: row;
    background-color: var(--Yellow);
    border-radius:0 0 20 20;
    padding:.5em;   
    position: fixed;
    top:0px;
    right:3px;    
}

nav ul{
    display:flex;
    flex-direction: row;
}

h1{
    font-family:var(--font-heading);
    text-align: center;
    font-size: var(--h1);
    color:var(--White)
}

h2{
    font-size: 2em;
    color:var(--White);
}
  
h3{
    font-size: 1.5em;
    color:var(--Yellow);
}

h4{
    font-size: 1.15em;
    color:var(--Purple);
}


p{
    font-family: var(--font-family);
}

.ourServices{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin:2em;
    }

.oneOnone{
    background-color: var(--White);
    padding-top:10px;
    border-radius: 20 20 20 20;
    margin-bottom: 20px;
 }

 .oneOnone h3{
    padding-bottom: 1em;
    align-self: auto;
 }

.careerCoaching{
    background-color: var(--White);
    padding:1em;
    border-radius: 20 20 20 20;
    margin-bottom: 20px;
}

.relationshipCoaching{
    background-color: var(--White);
    padding:1em;
    border-radius:20 20 20 20;
    margin-bottom: 20px;
}

.groupCoaching{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    margin:2em;
}

.groupCoaching h3{
    padding-bottom: 1em;
    align-self: auto;
}

.supportCommunity{
    background-color: var(--White);
    padding:1em;
    border-radius: 20 20 20 20;
    margin-bottom: 20px;
}

.focusSessions{
    background-color: var(--White);
    padding:1em;
    border-radius: 20 20 20 20;
    margin-bottom: 20px;
}

.workShops{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    margin:2em;
}

.workShops h3{
    padding-bottom: 1em;
    align-self: auto;
}

.interactive{
    background-color: var(--White);
    padding:1em;
    border-radius: 20 20 20 20;
    margin-bottom: 20px;
}

.onlineCourses{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    margin:2em;
}

.onlineCourses h3{
    padding-bottom: 1em;
    align-self: auto;
}

.flexLearning{
    background-color: var(--White);
    padding:1em;
    border-radius: 20 20 20 20;
    margin-bottom: 20px;
}

.whyChoose{
    background-color:var(--Pink);
}